# Node
node_modules/
npm-debug.log

# Android
.gradle/
build/
local.properties
*.apk
*.aab

# iOS
DerivedData/
Pods/
*.xcworkspace

# Mac
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# Environment
.env